<!--<div class="container-fluid">-->
<!--    <div class="row">-->
<!--        <%factContent.forEach(function(fact){%>-->
<!--        <div class="col col-sm-12 col-md-6 col-lg-4 col-xl-2">-->
<!--            <div class="card">-->
<!--                <div class="card-body">-->
<!--                    <h5 class="card-title"><%=fact.name%></h5>-->
<!--                    <p class="card-text"><%=fact.content.substring(0,60) + "..."%></p>-->
<!--                    <a href="/<%=fact.name%>" class="btn btn-primary" >Continue</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <%});%>-->
<!--    </div>-->
<!--</div>-->

let counter = 0
for(var i=0;i<=counter;i++){
    counter++;
}