@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
html, body {
    height: 100%;
    overflow: hidden;
    background-color: #333;
}

.jumbotron {
    display: flex;
    align-items: center;
    margin: 0;
    height: 50vh;
    color: white;
}

.display-4 {
    font-family: "Roboto", serif;
    font-weight: 900;
}

.lead {
    font-weight: 400;
}